@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&display=swap');


body {
    /* background-color: black; */
    margin: 0px;
    background-image: url(./bbq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    height: 10vh;
    opacity: 2;
    background-color: rgba(0, 0, 0, .9);
    padding: 1%;
    border-radius: 4px;
}

.RestaurantTitle{
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 1rem;
}

#mainSection{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:5vh;
    height: 75vh;
    opacity: 2;
    background-color: rgba(0, 0, 0, .9);
    padding: 1%;
    border-radius: 4px;
}