@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');


@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

/* @font-face {
    font-family: 'PlayfairDisplay Regular';
    src: url('./PlayfairDisplay-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
} */

body {
    background-color: black;
    margin: 0px;
}

#content {
    margin-left: 15vw;
    margin-right: 15vw;
    height: 90vh;
    background-color: darkgrey;
}

.hornImage {
    width: 100px;
    height: 100px;
}

p {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Norse-Bold';
}