@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

body {
    margin: 0px;
    background-image: url(./bbq.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1vh;
    height: 10vh;
    opacity: 2;
    background-color: rgba(0, 0, 0, .9);
    padding: 1%;
    border-radius: 4px;
}

.RestaurantTitle {
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 4vw;
}

#mainSection {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
    height: max-content;
    margin-bottom: 5%;
    opacity: 2;
    background-color: rgba(0, 0, 0, .9);
    padding: 1%;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

.headerLi {
    font-family: 'Bangers', cursive;
    cursor: pointer;
    font-size: 3vw;

}

#headerLi:hover {
    color: #F14C0B;
}

#homeLeftDiv {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 2%;
    margin-top: 4%;
    justify-content: flex-start;
    align-content: stretch;
    width: 50%;
    height: fit-content;
}


.slogan {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 3.25vw;
}

.subSlogan {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
}

#menuDiv {
    padding: 2%;

}

#menuSectionDiv{
    color: #F14C0B;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vw;
    height: 2vh;
    margin-bottom: 2%;
}

.menuGrid {
    display: grid;
    grid-template: auto auto / 15% 75% 10%;
    align-items: center;
    align-content: center;
}

#itemName {
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;

}

#itemDescription {
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;

}


#itemPrice {
    color: white;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
    text-align: center;
}